:root {
  --app-bar-width: 42px;
}

.app-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--app-bar-width);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  background-color: #222;
  z-index: 1400;
  border-right: 1px solid #444;
}

.app-bar-top {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center icons horizontally */
  justify-content: flex-end;
  gap: 16px; /* Spacing between icons */
  flex: 1;
}

.app-bar-middle {
  display: flex;
  align-items: center; /* Center the generate button horizontally */
  justify-content: center; /* Center the generate button vertically */
  flex: 0.2;
}

.app-bar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center icons horizontally */
  gap: 16px; /* Spacing between icons */
  flex: 1;
}
