.drawer-form {
  padding: 16px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.subtitle-centered.MuiTypography-root {
  margin-top: 25px;
  text-align: center;
}

.divider-custom.MuiDivider-root {
  border-color: #555;
  margin-bottom: 10px;
}

.button-container {
  position: relative;
  margin-top: 10px;
}

.circular-progress-custom {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

.clip-box {
  margin-top: 16px;
}

.drawer-input {
  margin-bottom: 20px;
}

.drawer-paper.MuiDrawer-paper {
  left: 42px;
  top: 0;
  bottom: 0;
  background-color: #333;
  color: #fff;
}
