:root {
  --image-grid-size: 250px;
}

.image-card {
  height: var(--image-grid-size);
  width: var(--image-grid-size);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  overflow: hidden; /* Ensure overlay stays within card bounds */
}

.image-card-overlay-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-card-media {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image-card-overlay {
  position: absolute;
  bottom: 0; /* Align overlay at the bottom */
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.image-card-text {
  font-size: 14px;
  font-weight: bold;
}
