.image-card {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  cursor: pointer;
}

.image-card-media {
  height: 280px;
  object-fit: cover;
}

.image-card-content {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
