:root {
  --vh: 100%; /* Dynamic vh unit for mobile responsiveness */
}

body {
  margin: 0;
  background-color: #121212;
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App__content {
  display: flex;
  flex-grow: 1;
}

.App__main {
  flex-grow: 1;
  padding: 16px;
  margin-left: var(--app-bar-width);
  transition: margin-left 0.3s ease;
  background-color: #121212;
  color: #fff;
}

.App__main--drawer-open {
  margin-left: calc(
    var(--drawer-width) + var(--app-bar-width)
  ); /* Match drawer width */
}
